<h2>Question:</h2>

<div class="container">
  <form action="/answer">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="question">
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
</div>
